body
{
    background-color: #181A1B;
    margin: 0px;
}

h3
{
    color: white;
    text-align: center;
}

p
{
    text-align: center;
    font-size: 18px;
    color: white;
    margin: 0px;
    margin-top: 5px;
}

pre
{
    text-align: center;
    font-size: 18px;
    color: white;
}

li
{
    margin: 10px;
}

img
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

iframe
{
    border: 0;
}

.hometitle
{
    font-size: 30px;
    font-family: monospace;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.avatar
{
    max-width: 250px;
    max-height: 250px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    animation: avatarHoverOut 0.1s forwards;
}

.avatar:hover
{
    animation: avatarHoverIn 0.1s forwards;
}

@keyframes avatarHoverIn {
    from {border-radius: 20%;}
    to {border-radius: 0;}
}

@keyframes avatarHoverOut {
    from {border-radius: 0;}
    to {border-radius: 20%;}
}

.links
{
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    list-style-type: none;
}

.link
{
    color: silver;
}

.link:hover, .videolink:hover, .links
{
    color: silver;
    animation: hoverLink 0.5s forwards;
}

@keyframes hoverLink
{
    from {color: silver;}
    to {color: purple;}
}

.videolink
{
    color: silver;
    text-decoration: underline;
}

.list
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.date
{
    margin: 30px;
}

.timenow
{
    color: white;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: timeRainbow 30s linear infinite;
}

@keyframes timeRainbow
{
    to
    {
        background-position: 1000vh;
    }
}

.banner
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerimage
{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.button
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

/* Nav Bar */

.site-home
{
    font-size: 2rem;
}

.site-home:hover
{
    background-color: #777;
    animation: hoverNav 0.5s forwards;
}

.site-other
{
    padding: 0;
    margin: 0;
    display: flex;
}

.nav
{
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 50px;
    margin-bottom: 20px;
}

.nav ul
{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav li
{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav a
{
    color: inherit;
    text-decoration: none;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav li:hover
{
    background-color: #777;
    animation: hoverNav 0.5s forwards;
}

@keyframes hoverNav
{
    from {background-color: #333;}
    to {background-color: #777;}
}

/* Nav End */

/* To Do Page */
.todo-left
{
    color: white;
}

.todo-name
{
    color: white;
}

/* To Do End */